/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  inset: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mobile Navigation Bar Styling */

/*
.menu-button,
.search-button {
  color: #fff;
  background-color: #fff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-button img {
  height: 2rem;
}

.search-button img {
  height: 2rem;
}

.logo-image {
  height: 6rem;
}

.NavBar {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*/

/* Mobile Mainpage Styling */
#root {
  margin: 2rem;
  width: auto;
}

#body {
  font-size: 16px;
}

@font-face {
  font-family: "bdo-grotesk";
  src: url(/src/assets/fonts/BDOGrotesk-Regular.ttf);
}

@font-face {
  font-family: "league-gothic";
  src: url(/clue-mag/src/assets/fonts/LeagueGothic-Regular.ttf);
}

article {
  width: auto;
}

.durga-anil img {
  height: 100%;
  max-width: 100%;
}

h2 {
  font-weight: 800;
  font-size: 1.6rem;
  font-family: "bdo-regular";
  line-height: 2rem;
}

.durga-anil p {
  font-size: 16px;
}

/* Landing Page Styles*/

/*
h1,
p {
  font-family:;
}
*/

li {
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
}

li:hover {
  background-color: red;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Logo {
  width: 100px;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.MenuIcon {
  width: 20px;
}

.NavBar {
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 2px solid red;
  width: 100%;
}

.SearchIcon {
  width: 20px;
}

.Search {
  width: auto;
  outline: 1px solid red;
}

.SearchButton {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
}

.SearchBar {
  position: relative;
  left: 220px;
  border: none;
  border-bottom: 2px solid black;
}

.Search:hover .SearchBar {
  transition: 1s;
  left: 0;
}

.SearchBar:active {
  left: 0;
  background-color: blue;
}

.MenuButton {
  height: 40px;
  width: 40px;
}

.NavButton {
  padding: 20px;
}

.MLSBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
}

.TopBar {
  background-color: white;
  display: flex;
  position: sticky;
  align-items: center;
  flex-direction: column;
  height: 200px;
  overflow: hidden;
}

.FirstSlide {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.HeadlineArticle {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  height: auto;
}

.singUp {
  background-color: red;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  gap: 15px;
}

.singUpLogo {
  width: 25%;
}

.login {
  width: 50%;
  height: 50px;
}

.MainContent {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.textPlusButton p {
  font-size: 30px;
}

.ArticleText {
  line-height: normal;
}

.ArticleText h1 {
  font-weight: bold;
  font-size: 30px;
}

.OtherNews {
  background-color: gray;
  height: 200px;
}

.clubNewsLetter {
  background-color: green;
  height: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

/*
.CategoriesMenu {
  position: absolute;
  height: 200px;
  background-color: blue;
  top: 200px;
}

.Menu {
  position: sticky;
}
*/

@media only screen and (max-width: 600px) {
  :root {
    background-color: blue;
  }
}